{% extends "base.html" %}
{% load static %}

{% block head %}
  <script src="{% static 'menu.js' %}"></script>

{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}

  <h1>Menu</h1>
  <div class="message">
  {% if message %}
    {{ message }}
  {% endif %}
  {% if messages %}
  <ul>
  	{% for message in messages %}
  	   <li>{{ message }}</li>
  	{% endfor %}
  </ul>
  {% endif %}
  </div>

  <p>Enter your order:</p>
  <br>

  <form id="order_form" method="post">

    {% csrf_token %}

    <div id="form_div" class="form_group">
      <span>Dishes: </span>

      <select id="food_type" name="food_type" class="form-control" autocomplete="off" type="select" required>
        <option disabled selected value> -- select your dish -- </option>
        {% for category in food_type %}
          <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
      </select>

      <div id="toppings_div"class="form_group">
      </div>
    </div>

    <br><br>

    <div id="price_div" class="form_group">Price: $
      <span id="order_price"></span>
    </div>

    <br><br>
    <button type="submit" class="btn btn-primary">Add order to shopping cart</button>
  </form>



{% endblock %}
