{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>

<div class="message">
{% if message %}
  {{ message }}
{% endif %}
</div>

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <p><input name="first_name" type="text" placeholder="First Name"/></p>
    <p><input name="last_name" type="text" placeholder="Last Name"/></p>
    <p><input name="email" type="email" placeholder="email" required/></p>
    <p><input name="username" type="text" placeholder="Username" required/></p>
    <p><input name="password" type="password" placeholder="Password" required/></p>
    <p><input name="password_check" type="password" placeholder="Repeat Password" required/></p>
    <p><input type="submit" value="Register"/>
</form>
{% endblock %}
